@charset "UTF-8";

html {font-family:'Noto Sans KR', sans-serif; font-size:14px}
body {background:#fff; color:#292931; letter-spacing:-0.05em; overflow-x:hidden}
p {line-height:1.6}
a {color:#292931; text-decoration:none}
.global_nav {height:44px; padding:0 1rem}
.local_nav {height:52px; padding:0 1rem; border-bottom:1px solid #ddd}
.global_nav_links, .local_nav_links {max-width:1000px; height:100%; margin:0 auto; display:flex; align-items:center}
.global_nav_links {justify-content:space-between}
.product_name {font-size:1.2rem; font-weight:bold; margin-right:auto}
.local_nav_links > a:not(.product_name) {font-size:0.8rem; margin-left:2em}
.scroll_section {padding-top:50vh}
#scroll_section_0 > h1 {font-size:4rem; text-align:center}
.main_message {display:flex; height:3em; font-size:2.5rem; align-items:center; justify-content:center;}
.main_message p {line-height:1.2; font-weight:bold; text-align:center}
.description {padding:0 1rem; font-size:1.2rem; color:#888}
.description strong {float:left; margin-right:0.2em; font-size:3rem; color:#000}